*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# made by eclipse
# you can create the eclipse project file by running `sbt eclipse`
.cache
.classpath
.project
.settings

# made by idea
# you can create the intellij idea project file by running `sbt gen-idea`
.idea
.idea_modules
